<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_24J78PmQEeqXset4i0EJKg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="stopwatch_mealy">
    <regions xmi:id="_24LxI_mQEeqXset4i0EJKg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_24QpofmQEeqXset4i0EJKg">
        <outgoingTransitions xmi:id="_24UUAPmQEeqXset4i0EJKg" target="_24R3wfmQEeqXset4i0EJKg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_24R3wfmQEeqXset4i0EJKg" name="StateA" incomingTransitions="_24UUAPmQEeqXset4i0EJKg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_24LxIPmQEeqXset4i0EJKg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_24J78PmQEeqXset4i0EJKg" measurementUnit="Pixel">
    <children xmi:id="_24ONYPmQEeqXset4i0EJKg" type="Region" element="_24LxI_mQEeqXset4i0EJKg">
      <children xsi:type="notation:DecorationNode" xmi:id="_24QCkPmQEeqXset4i0EJKg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_24QCkfmQEeqXset4i0EJKg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_24QCkvmQEeqXset4i0EJKg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_24QCk_mQEeqXset4i0EJKg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_24QpovmQEeqXset4i0EJKg" type="Entry" element="_24QpofmQEeqXset4i0EJKg">
          <children xmi:id="_24RQsPmQEeqXset4i0EJKg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_24RQs_mQEeqXset4i0EJKg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_24RQtPmQEeqXset4i0EJKg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_24RQtfmQEeqXset4i0EJKg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_24RQsfmQEeqXset4i0EJKg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24RQsvmQEeqXset4i0EJKg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_24Qpo_mQEeqXset4i0EJKg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_24QppPmQEeqXset4i0EJKg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24R3wPmQEeqXset4i0EJKg" x="70" y="20"/>
        </children>
        <children xmi:id="_24R3xPmQEeqXset4i0EJKg" type="State" element="_24R3wfmQEeqXset4i0EJKg">
          <children xsi:type="notation:DecorationNode" xmi:id="_24Se0PmQEeqXset4i0EJKg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_24Se0fmQEeqXset4i0EJKg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_24Se0vmQEeqXset4i0EJKg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_24TF4PmQEeqXset4i0EJKg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_24TF4fmQEeqXset4i0EJKg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24TF4vmQEeqXset4i0EJKg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_24Ts8PmQEeqXset4i0EJKg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_24R3xfmQEeqXset4i0EJKg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_24R3xvmQEeqXset4i0EJKg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_24Ts8fmQEeqXset4i0EJKg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24Ts8vmQEeqXset4i0EJKg" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24QClPmQEeqXset4i0EJKg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_24ONYfmQEeqXset4i0EJKg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24QpoPmQEeqXset4i0EJKg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_24ViIPmQEeqXset4i0EJKg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_24ViIvmQEeqXset4i0EJKg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_24ViI_mQEeqXset4i0EJKg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_24ViJPmQEeqXset4i0EJKg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_24WJMPmQEeqXset4i0EJKg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24WJMfmQEeqXset4i0EJKg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24WJMvmQEeqXset4i0EJKg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_24LxIfmQEeqXset4i0EJKg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_24LxIvmQEeqXset4i0EJKg"/>
    <edges xmi:id="_24UUAfmQEeqXset4i0EJKg" type="Transition" element="_24UUAPmQEeqXset4i0EJKg" source="_24QpovmQEeqXset4i0EJKg" target="_24R3xPmQEeqXset4i0EJKg">
      <children xsi:type="notation:DecorationNode" xmi:id="_24U7EfmQEeqXset4i0EJKg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_24U7EvmQEeqXset4i0EJKg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_24U7E_mQEeqXset4i0EJKg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_24UUAvmQEeqXset4i0EJKg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_24U7EPmQEeqXset4i0EJKg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_24UUA_mQEeqXset4i0EJKg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
