<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_YcDugPQBEeqA0aBPPc6_DA" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event rBt&#xA;in event lBt&#xA;out event doInitial&#xA;out event doStart&#xA;out event doPause&#xA;out event doResume&#xA;out event doStop&#xA;" name="stopwatch">
    <regions xmi:id="_YcnIIPQBEeqA0aBPPc6_DA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_YdNlEPQBEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_BmyYMPQHEeqA0aBPPc6_DA" specification="" target="_Eoo1EPQGEeqA0aBPPc6_DA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YdQBUPQBEeqA0aBPPc6_DA" specification="entry/raise doStart" name="StateStart" incomingTransitions="_EeT-8PQHEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_1CaD4PQBEeqA0aBPPc6_DA" specification="rBt&#xA;" target="_xO7LMPQBEeqA0aBPPc6_DA"/>
        <outgoingTransitions xmi:id="_srsMYPQIEeqA0aBPPc6_DA" specification="lBt" target="_aBu2YPQCEeqA0aBPPc6_DA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xO7LMPQBEeqA0aBPPc6_DA" specification="entry/raise doPause&#xA;" name="StatePause" incomingTransitions="_1CaD4PQBEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_6S8T8PQCEeqA0aBPPc6_DA" specification="lBt" target="_aBu2YPQCEeqA0aBPPc6_DA"/>
        <outgoingTransitions xmi:id="_UXSNUPQIEeqA0aBPPc6_DA" specification="rBt" target="_QeunYPQIEeqA0aBPPc6_DA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aBu2YPQCEeqA0aBPPc6_DA" specification="entry/raise doStop" name="StateStop" incomingTransitions="_6S8T8PQCEeqA0aBPPc6_DA _WC1JIPQIEeqA0aBPPc6_DA _srsMYPQIEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_ruR-YPQHEeqA0aBPPc6_DA" specification="lBt" target="_Eoo1EPQGEeqA0aBPPc6_DA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Eoo1EPQGEeqA0aBPPc6_DA" specification="entry/raise doInitial" name="StateInitial" incomingTransitions="_BmyYMPQHEeqA0aBPPc6_DA _ruR-YPQHEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_EeT-8PQHEeqA0aBPPc6_DA" specification="lBt" target="_YdQBUPQBEeqA0aBPPc6_DA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_QeunYPQIEeqA0aBPPc6_DA" specification="entry/raise doResume" name="StateResume" incomingTransitions="_UXSNUPQIEeqA0aBPPc6_DA">
        <outgoingTransitions xmi:id="_WC1JIPQIEeqA0aBPPc6_DA" specification="lBt" target="_aBu2YPQCEeqA0aBPPc6_DA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Ycl6APQBEeqA0aBPPc6_DA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_YcDugPQBEeqA0aBPPc6_DA" measurementUnit="Pixel">
    <children xmi:id="_YcvD8PQBEeqA0aBPPc6_DA" type="Region" element="_YcnIIPQBEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YdIskPQBEeqA0aBPPc6_DA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YdJToPQBEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YdJTofQBEeqA0aBPPc6_DA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YdLI0PQBEeqA0aBPPc6_DA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_YdOMIPQBEeqA0aBPPc6_DA" type="Entry" element="_YdNlEPQBEeqA0aBPPc6_DA">
          <children xmi:id="_YdOzMPQBEeqA0aBPPc6_DA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_YdPaQPQBEeqA0aBPPc6_DA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_YdPaQfQBEeqA0aBPPc6_DA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_YdPaQvQBEeqA0aBPPc6_DA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YdOzMfQBEeqA0aBPPc6_DA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdOzMvQBEeqA0aBPPc6_DA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YdOMIfQBEeqA0aBPPc6_DA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_YdOMIvQBEeqA0aBPPc6_DA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdPaQ_QBEeqA0aBPPc6_DA" x="31" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_YdTEoPQBEeqA0aBPPc6_DA" type="State" element="_YdQBUPQBEeqA0aBPPc6_DA">
          <children xsi:type="notation:DecorationNode" xmi:id="_YdTrsPQBEeqA0aBPPc6_DA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YdTrsfQBEeqA0aBPPc6_DA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YdTrsvQBEeqA0aBPPc6_DA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YdVg4PQBEeqA0aBPPc6_DA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YdWH8PQBEeqA0aBPPc6_DA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdWH8fQBEeqA0aBPPc6_DA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YdWvAPQBEeqA0aBPPc6_DA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YdTEofQBEeqA0aBPPc6_DA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YdTEovQBEeqA0aBPPc6_DA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YdWvAfQBEeqA0aBPPc6_DA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdXWEPQBEeqA0aBPPc6_DA" x="295" width="114" height="62"/>
        </children>
        <children xmi:id="_xPB44PQBEeqA0aBPPc6_DA" type="State" element="_xO7LMPQBEeqA0aBPPc6_DA">
          <children xsi:type="notation:DecorationNode" xmi:id="_xPB45PQBEeqA0aBPPc6_DA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xPB45fQBEeqA0aBPPc6_DA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xPCf8PQBEeqA0aBPPc6_DA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xPCf8fQBEeqA0aBPPc6_DA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xPCf8vQBEeqA0aBPPc6_DA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xPCf8_QBEeqA0aBPPc6_DA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xPCf9PQBEeqA0aBPPc6_DA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xPB44fQBEeqA0aBPPc6_DA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xPB44vQBEeqA0aBPPc6_DA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xPDHAPQBEeqA0aBPPc6_DA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xPB44_QBEeqA0aBPPc6_DA" x="298" y="103" width="118" height="56"/>
        </children>
        <children xmi:id="_aBwEgPQCEeqA0aBPPc6_DA" type="State" element="_aBu2YPQCEeqA0aBPPc6_DA">
          <children xsi:type="notation:DecorationNode" xmi:id="_aBwrkPQCEeqA0aBPPc6_DA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aBwrkfQCEeqA0aBPPc6_DA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_aBwrkvQCEeqA0aBPPc6_DA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aBwrk_QCEeqA0aBPPc6_DA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_aBwrlPQCEeqA0aBPPc6_DA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aBwrlfQCEeqA0aBPPc6_DA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aBxSoPQCEeqA0aBPPc6_DA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aBwEgfQCEeqA0aBPPc6_DA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_aBwEgvQCEeqA0aBPPc6_DA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aBxSofQCEeqA0aBPPc6_DA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aBwEg_QCEeqA0aBPPc6_DA" x="92" y="239" width="115" height="57"/>
        </children>
        <children xmi:id="_EopcIPQGEeqA0aBPPc6_DA" type="State" element="_Eoo1EPQGEeqA0aBPPc6_DA">
          <children xsi:type="notation:DecorationNode" xmi:id="_EoqqQPQGEeqA0aBPPc6_DA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EoqqQfQGEeqA0aBPPc6_DA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EoqqQvQGEeqA0aBPPc6_DA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EoqqQ_QGEeqA0aBPPc6_DA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EoqqRPQGEeqA0aBPPc6_DA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EoqqRfQGEeqA0aBPPc6_DA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EorRUPQGEeqA0aBPPc6_DA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EopcIfQGEeqA0aBPPc6_DA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EopcIvQGEeqA0aBPPc6_DA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EorRUfQGEeqA0aBPPc6_DA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EopcI_QGEeqA0aBPPc6_DA" x="91" y="7" width="120" height="56"/>
        </children>
        <children xmi:id="_Qev1gPQIEeqA0aBPPc6_DA" type="State" element="_QeunYPQIEeqA0aBPPc6_DA">
          <children xsi:type="notation:DecorationNode" xmi:id="_QewckPQIEeqA0aBPPc6_DA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_QewckfQIEeqA0aBPPc6_DA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_QewckvQIEeqA0aBPPc6_DA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Qewck_QIEeqA0aBPPc6_DA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_QewclPQIEeqA0aBPPc6_DA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QewclfQIEeqA0aBPPc6_DA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_QexDoPQIEeqA0aBPPc6_DA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Qev1gfQIEeqA0aBPPc6_DA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Qev1gvQIEeqA0aBPPc6_DA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QexDofQIEeqA0aBPPc6_DA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Qev1g_QIEeqA0aBPPc6_DA" x="297" y="239" width="130" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdLI0fQBEeqA0aBPPc6_DA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_YcvD8fQBEeqA0aBPPc6_DA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdMW8PQBEeqA0aBPPc6_DA" x="36" y="40" width="465" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_YdkKYPQBEeqA0aBPPc6_DA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_YdkxcPQBEeqA0aBPPc6_DA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YdkxcfQBEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YdkxcvQBEeqA0aBPPc6_DA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Ydkxc_QBEeqA0aBPPc6_DA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdkxdPQBEeqA0aBPPc6_DA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YdlYgPQBEeqA0aBPPc6_DA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ycl6AfQBEeqA0aBPPc6_DA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Ycl6AvQBEeqA0aBPPc6_DA"/>
    <edges xmi:id="_1Cb5EPQBEeqA0aBPPc6_DA" type="Transition" element="_1CaD4PQBEeqA0aBPPc6_DA" source="_YdTEoPQBEeqA0aBPPc6_DA" target="_xPB44PQBEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_1CcgIPQBEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1CcgIfQBEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1CcgIvQBEeqA0aBPPc6_DA" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1Cb5EfQBEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1Cb5E_QBEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1Cb5EvQBEeqA0aBPPc6_DA" points="[-55, 31, 29, -75]$[-55, 72, 29, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1CgxkPQBEeqA0aBPPc6_DA" id="(0.9692307692307692,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1CgxkfQBEeqA0aBPPc6_DA" id="(0.2,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_6S_-UPQCEeqA0aBPPc6_DA" type="Transition" element="_6S8T8PQCEeqA0aBPPc6_DA" source="_xPB44PQBEeqA0aBPPc6_DA" target="_aBwEgPQCEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6S_-VPQCEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6S_-VfQCEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6S_-VvQCEeqA0aBPPc6_DA" x="-19" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6S_-UfQCEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6S_-U_QCEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6S_-UvQCEeqA0aBPPc6_DA" points="[-13, -1, 156, -108]$[-122, -1, 47, -108]$[-122, 103, 47, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6TBzgPQCEeqA0aBPPc6_DA" id="(0.11428571428571428,0.6037735849056604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6TCakPQCEeqA0aBPPc6_DA" id="(0.43661971830985913,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_BmzmUPQHEeqA0aBPPc6_DA" type="Transition" element="_BmyYMPQHEeqA0aBPPc6_DA" source="_YdOMIPQBEeqA0aBPPc6_DA" target="_EopcIPQGEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_BmzmVPQHEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BmzmVfQHEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Bm0NYPQHEeqA0aBPPc6_DA" x="13" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BmzmUfQHEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BmzmU_QHEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BmzmUvQHEeqA0aBPPc6_DA" points="[6, 2, -50, 6]$[53, 2, -3, 6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Bm1bgPQHEeqA0aBPPc6_DA" id="(0.028169014084507043,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_EeUmAPQHEeqA0aBPPc6_DA" type="Transition" element="_EeT-8PQHEeqA0aBPPc6_DA" source="_EopcIPQGEeqA0aBPPc6_DA" target="_YdTEoPQBEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EeVNEfQHEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EeVNEvQHEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EeVNE_QHEeqA0aBPPc6_DA" x="-5" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EeUmAfQHEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EeVNEPQHEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EeUmAvQHEeqA0aBPPc6_DA" points="[70, -27, -136, 30]$[154, -27, -52, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EeY3cPQHEeqA0aBPPc6_DA" id="(0.4225352112676056,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EeY3cfQHEeqA0aBPPc6_DA" id="(0.4605263157894737,0.03333333333333333)"/>
    </edges>
    <edges xmi:id="_ruSlcPQHEeqA0aBPPc6_DA" type="Transition" element="_ruR-YPQHEeqA0aBPPc6_DA" source="_aBwEgPQCEeqA0aBPPc6_DA" target="_EopcIPQGEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ruSldPQHEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ruSldfQHEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ruSldvQHEeqA0aBPPc6_DA" x="6" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ruSlcfQHEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ruSlc_QHEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ruSlcvQHEeqA0aBPPc6_DA" points="[-24, -28, -26, 204]$[-24, -204, -26, 28]"/>
    </edges>
    <edges xmi:id="_UXSNUfQIEeqA0aBPPc6_DA" type="Transition" element="_UXSNUPQIEeqA0aBPPc6_DA" source="_xPB44PQBEeqA0aBPPc6_DA" target="_Qev1gPQIEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_UXS0YfQIEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UXS0YvQIEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UXS0Y_QIEeqA0aBPPc6_DA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UXSNUvQIEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UXS0YPQIEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UXSNU_QIEeqA0aBPPc6_DA" points="[4, 8, 1, -102]$[4, 108, 1, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UXUCgPQIEeqA0aBPPc6_DA" id="(0.4491525423728814,0.8928571428571429)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UXUCgfQIEeqA0aBPPc6_DA" id="(0.4307692307692308,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_WC1wMPQIEeqA0aBPPc6_DA" type="Transition" element="_WC1JIPQIEeqA0aBPPc6_DA" source="_Qev1gPQIEeqA0aBPPc6_DA" target="_aBwEgPQCEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_WC1wNPQIEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WC1wNfQIEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WC1wNvQIEeqA0aBPPc6_DA" x="22" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WC1wMfQIEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WC1wM_QIEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WC1wMvQIEeqA0aBPPc6_DA" points="[-65, 2, 94, -2]$[-155, 2, 4, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WC2-UPQIEeqA0aBPPc6_DA" id="(0.971830985915493,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_sruBkPQIEeqA0aBPPc6_DA" type="Transition" element="_srsMYPQIEeqA0aBPPc6_DA" source="_YdTEoPQBEeqA0aBPPc6_DA" target="_aBwEgPQCEeqA0aBPPc6_DA">
      <children xsi:type="notation:DecorationNode" xmi:id="_sruoofQIEeqA0aBPPc6_DA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sruoovQIEeqA0aBPPc6_DA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sruoo_QIEeqA0aBPPc6_DA" x="-23" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sruBkfQIEeqA0aBPPc6_DA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sruooPQIEeqA0aBPPc6_DA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sruBkvQIEeqA0aBPPc6_DA" points="[-57, 20, 146, -216]$[-107, 20, 96, -216]$[-107, 80, 96, -156]$[-195, 80, 8, -156]$[-195, 208, 8, -28]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
